{#
/**
 * @file
 * Template file for wrapping FAQ pages
 * 
 * Available variables:
 * - description: Rendered description of the FAQ-page.
 * - content: Rendered content.
 * - answers: Rendered answers.
 * - faq_expand: True or false, depends on 
 * 'Show "expand / collapse all" links for collapsed questions' setting.
 * 
 * @see template_preprocess_faq_page()
 * 
 * @ingroup themable
 */
#}
{%
  set classes = [
  'faq',
  'px-0',
  show_toc ? 'col-md-9',
]
%}


<div class="faq-content row px-0">
    <div{{ show_toc ? attributes.addClass(classes) }}>
        {% if description is not empty %}
            <div class="faq-description">
                {{ description }}
            </div>
        {% endif %}
        {{ content }}
        {{ answers }}
    </div>
    {% if show_toc %}
        <div class="col-md-3">
          <nav id="toc">
            <h2>Table of Contents</h2>
          </nav>
        </div> 
    {% endif %}
</div>
