{#
/**
 * @file
 * Template file for wrapping FAQ pages
 * 
 * Available variables:
 * - description: Rendered description of the FAQ-page.
 * - content: Rendered content.
 * - answers: Rendered answers.
 * - faq_expand: True or false, depends on 
 * 'Show "expand / collapse all" links for collapsed questions' setting.
 * 
 * @see template_preprocess_faq_page()
 * 
 * @ingroup themable
 */
#}

<div class="faq-content">
    <div class="faq">
        {% if description is not empty %}
            <div class="faq-description">
                {{ description }}
            </div>
        {% endif %}
        {{ content }}
        {{ answers }}
    </div>
</div>
